<?xml version="1.0" encoding="utf-8"?>
<manifest package="ulm.university.news.app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="ulm.university.news.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="ulm.university.news.app.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_blue"
        android:label="@string/app_name"
        android:theme="@style/UlmUniversity.Main">
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name">
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="ulm.university.news.app"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".manager.push.PushGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name=".manager.push.PushInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".manager.push.PushTokenGenerationService"
            android:exported="false"/>

        <activity
            android:name=".controller.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.CreateAccountActivity"
            android:label="@string/app_name">
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".controller.ChannelSearchActivity"/>

        <activity
            android:name=".controller.ChannelSearchActivity"
            android:label="@string/activity_channel_search_title">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.MainActivity"/>
        </activity>
        <activity android:name=".controller.ChannelDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ChannelSearchActivity"/>
        </activity>
        <activity android:name=".controller.ChannelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.MainActivity"/>
        </activity>
        <activity
            android:name=".controller.GroupSearchActivity"
            android:label="@string/activity_group_search_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.MainActivity"/>
        </activity>
        <activity
            android:name=".controller.GroupAddActivity"
            android:label="@string/activity_group_add_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.MainActivity"/>
        </activity>
        <activity
            android:name=".controller.SettingsUserActivity"
            android:label="@string/activity_settings_user_title">
        </activity>
        <activity
            android:name=".controller.LoginActivity"
            android:label="@string/activity_login_title">
        </activity>
        <activity
            android:name=".controller.ModeratorMainActivity"
            android:label="@string/activity_moderator_main_title"
            android:theme="@style/UlmUniversity.Main">
        </activity>
        <activity android:name=".controller.SettingsChannelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ChannelActivity"/>
        </activity>
        <activity
            android:name=".controller.ChannelAddActivity"
            android:label="@string/activity_channel_add_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ModeratorMainActivity"/>
        </activity>
        <activity android:name=".controller.ModeratorChannelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ModeratorMainActivity"/>
        </activity>
        <activity
            android:name=".controller.AnnouncementAddActivity"
            android:label="@string/activity_announcement_add_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ModeratorChannelActivity"/>
        </activity>
        <activity
            android:name=".controller.ChannelEditActivity"
            android:label="@string/activity_channel_edit_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ModeratorChannelActivity"/>
        </activity>
        <activity
            android:name=".controller.ReminderAddActivity"
            android:label="@string/activity_reminder_add_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ModeratorChannelActivity"/>
        </activity>
        <activity
            android:name=".controller.ReminderEditActivity"
            android:label="@string/activity_reminder_edit_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ModeratorChannelActivity"/>
        </activity>
        <activity
            android:name=".controller.ReminderDetailActivity"
            android:label="@string/activity_reminder_detail_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.ModeratorChannelActivity"/>
        </activity>
        <activity
            android:name=".controller.SettingsNotificationActivity"
            android:label="@string/activity_settings_notification_title">
        </activity>
        <activity
            android:name=".controller.SettingsListActivity"
            android:label="@string/activity_settings_list_title">
        </activity>
        <activity
            android:name=".controller.AboutActivity"
            android:label="@string/activity_about_title">
        </activity>
        <activity android:name=".controller.GroupDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.GroupSearchActivity"/>
        </activity>
        <activity android:name=".controller.GroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.MainActivity"/>
        </activity>
        <activity
            android:name=".controller.ConversationAddActivity"
            android:label="@string/activity_conversation_add_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.GroupActivity"/>
        </activity>
        <activity android:name=".controller.ConversationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ulm.university.news.app.controller.GroupActivity"/>
        </activity>
    </application>

</manifest>